* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 1rem;
}

.parent {
  height: 100vh;
  border: 20px solid rgba(224, 19, 19, 0.986);
  display: flex;

  /* 1 */
  /* justify-content: space-evenly;
  align-items: flex-start; */

  /* 2 */
  /* flex-direction: column;
  justify-content: space-around;
  align-items: center; */

  /* 3 */
  /* flex-wrap: wrap;
  align-content: flex-end; */

  /* 5 */
  /* align-items: baseline; */

  /* 6 */
  /* flex-direction: column;
  flex-wrap: wrap; */

  /* 7 === 6 */
  /* flex-flow: column wrap; */

  /* flex-wrap: wrap; */
}

.child1 {
  width: 100px;
  height: 100px;
  background: rgb(3, 98, 105);
  /* 8 */
  /* order: 1; */

  /* 9 */
  /* flex-grow: 1; */

  /* 10 */
  /* flex-basis: 210px; */

  /* 11 === 9 + 10 */
  /* flex: 1 0 300px; */

  /* 12 == 11 */
  /* flex: 1 1 300px; */
}

.child2 {
  width: 100px;
  height: 100px;
  background: rgb(50, 13, 185);
  /* 8 */
  /* order: 2; */

  /* 9 */
  /* flex-grow: 1; */

  /* 13 */
  /* flex-shrink: 1; */

  /* 14 */
  /* flex: 1 0 auto; */

  /* 15 */
  /* flex: 1; */

  /* 12 */
  /* flex: 1 1 300px; */

  /* 16 */
  /* align-self: center; */
}

.child3 {
  width: 100px;
  height: 100px;
  background: rgb(172, 224, 28);
  /* 8 */
  /* order: 3; */
  
  /* 9 */
  /* flex-grow: 1; */

  /* 12 */
  /* flex: 1 1 300px; */

  /* 16 */
  /* align-self: flex-end; */
}

.child4 {
  width: 100px;
  height: 100px;
  background: rgba(47, 233, 72, 0.37);
  /* 8 */
  /* order: 4; */
}