* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

#text {
    margin: 15px;
    /*margin: 10px 5px 12px 7px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;*/
    color: blue;
    font-size: 18px;
    font-weight: bold;
}

.text {
    color: red;
    font-size: 26;
}

ul li {
    color: yellow;
}

li a {
    text-decoration: none;
}

ul+p {
    color: red;
}